body,html{
	width: 100%;
	height: 100%;
}
body{
	background-image: url("header.jpg");
	background-position: center;
	background-size: cover;
	height: 100%;
}
h1{
	font-size: 40px;
	margin-top: 150px;
	color: #9D344B;
	text-align: center;
}
.btn{
	font-weight: 80;
	text-transform: uppercase;
	border-radius: 500px;
	font-family: georgia;
	background-color: #90305A;
	border-color: white;
	padding: 1rem 2rem;
	transition: all 1s;
}
.btn:hover{
	transform: scale(1.1);
}
.btn-danger{
	margin: auto;
	display: block;
	margin-top: 230px;
}